Events
**/*.root
HTML/run_**/
SubProcesses/
**/*.zip
**/*.rar
%OUTDIR%/
**/__pycache__/
**/.venv/

# Archivos de LaTex
styles/
*.sty
**/.build/*.aux
**/.build/*.bbl
**/.build/*.blg
**/.build/*.fdb_latexmk
**/.build/*.fls
**/.build/*.log
**/.build/*.out
**/.build/*.synctex.gz
**/.build/*.toc
**/.build/*.bib
tex
csv